Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

#include ".Xsolarized" 

! Отключение полосы прокрутки
URxvt.scrollBar: false

! Установка шрифта
URxvt.font: xft:Ubuntu Mono:size=13

! Язык терминала
URxvt*imLocale: en_US.UTF-8
! Имя терминала
URxvt*termName: rxvt-unicode-256color

! Отступ между буквами
URxvt.letterSpace: 0

! Расширения Perl
URxvt.perl-ext-common: fullscreen clipboard
URxvt.keysym.F11: perl:fullscreen:switch

!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.perl-lib: /usr/lib/urxvt/perl
